<form action="<%=notes_url%>" method="post">
<%= auth_token %>

<label for="description">Make a new note</label>
<br>
<input type="hidden" name="note[track_id]" value="<%=track.id%>">
<textarea name="note[description]" id="description" cols="30" rows="10"></textarea>
<br>
<input type="submit" value="Post">
</form>