<h1>Email Authentication</h1>
<p><%= @user.name.capitalize %> welcome to Music app</p>
<p>Thank you for choosing our services</p>
<p>Enjoy our inventory of bands,albums and tracks</p>
<p>In order complete your sign up please follow this link</p>
<p><%= link_to @url, @url  %></p>