
<table>
<caption><%= @user.name.capitalize %>'s info</caption>
    <tr>
        <th>Name</th>
        <td><%= @user.name.capitalize %></td>
    </tr>
    <tr>
        <th>email</th>
        <td><%= @user.email %></td>
    </tr>
</table>
